.selectify
{
    position: relative;
    color:#555;
}

.selectify .options
{
    position:absolute;
    z-index:2;
    max-height:250px;
    overflow-y:auto;
}

.selectify .header
{
    background: rgb(165,165,165); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(165,165,165,1) 1%, rgba(99,99,99,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(165,165,165,1)), color-stop(100%,rgba(99,99,99,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(165,165,165,1) 1%,rgba(99,99,99,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(165,165,165,1) 1%,rgba(99,99,99,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(165,165,165,1) 1%,rgba(99,99,99,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(165,165,165,1) 1%,rgba(99,99,99,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5a5a5', endColorstr='#636363',GradientType=0 ); /* IE6-9 */
 
    background: #e8e8e8; /* Old browsers */
    background: -moz-linear-gradient(top, #e8e8e8 0%, #d1d1d1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(100%,#d1d1d1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e8e8e8 0%,#d1d1d1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e8e8e8 0%,#d1d1d1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e8e8e8 0%,#d1d1d1 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e8e8e8 0%,#d1d1d1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */
    
    cursor:pointer;
}

.selectify .header .icon
{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #999 transparent transparent;
    border-image: none;
    border-right: 7px solid transparent;
    border-style: solid;
    border-width: 7px;
    content: " ";
    height: 0;
    margin-left: -7px;
    position: absolute;
    width: 0;
    right: 0.5em;
    margin-top: -5px;
    position: absolute;
    top: 50%;
}

.selectify .header .selected
{
    color:#999;
    font-size: 14px;
    padding: 5px 15px;
}

.selectify .header.hover .selected
{
    color:#555;
}

.selectify .header.hover .icon
{
    border-color: #000 transparent transparent;
}

.selectify .option
{
    border: 1px solid #BBB;
    cursor:pointer;
    border-top:0;
    color:#999;
    padding: 5px 15px;
    background:#FFF;
}

.selectify .option.hover
{
    background:#FECA40;
}

.selectify .option.active
{
    background:#F39814;
    color:#FFF;
}